.detailwrapper{
    margin-left: 20px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.detailwrapper>img{
    max-width: 500px;


}

.detailwrapper>h2{
    max-width: 800px;
}
/*-------------- footer -------------------*/


.footer{
    width: 100%;
    background-color: aqua;
    height: 300px;
    border: 2px solid red;
}
