@media screen and (max-width: 600px) {
   
   .section6-div1-wrapper{
    height: auto;
   }
   .services,.about,.headercontact_p{
    display: none;
   }
   .headerlogo>a>img{
    width: 100px;

   }
   .coverfotodiv-infut-wrapper{
      width: 90%;
   }
   .coverbutton{
      margin-top: 10px;
   }
   .footercentr{
      flex-wrap: wrap;
   }
    .footerheader{
      flex-wrap: wrap;
      height: auto;
    }
    footer{
      height: auto;
    }
  
  }